.button {
  cursor: pointer;
}

// Page transition
.page-leave-active,
.page-enter-active  {
  transition: opacity .5s;
}

.page-leave-to,
.page-enter {
  opacity: 0;

  .site-header {
    transform: translateY(-100%);
  }
}

// Lazy Load
.loader::after {
  content: '⏳';
  position: relative;
  right: 50%;
  bottom: 1em;
  z-index: -1;
}

// Headroom
.site-header {
  position: sticky;
  top: 0;
  z-index: 1;
  transition: transform .25s ease-in-out, box-shadow .5s;

  &.hidden,
  .medium-zoom--opened & {
    transform: translateY(-100%);
  }

  &.unpinned {
    box-shadow: 0 0 35px 0 rgba(2, 2, 2, 0.08);
  }
}
